body {
  background-color: hsl(210, 13%, 96%);
  margin: 0;
  font-family: "LXGW WenKai TC", cursive;
}

header {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

header div {
  width: 30%;
  flex-grow: 1;
}

div.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  width: fit-content;
  color: black;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header button {
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid lightgray;
  border-radius: 1.5rem;
  width: fit-content;
  height: 3rem;
  margin-right: 2rem;
  background-color: inherit;
}

header button:hover {
  /* border: none; */
  background-color: lightgray;
}

@media all and (max-width: 640px) {
  div.left {
    width: 0;
    flex-grow: 0;
  }
  div.middle {
    flex-grow: 4;
    justify-content: flex-end;
  }
  div.right {
    justify-content: center;
  }
  header button {
    margin-right: 0;
  }
}

main {
  max-width: 1000px;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  padding: 2rem;
  padding-bottom: 1rem;
}

main div {
  margin-bottom: 1rem;
}

div img {
  width: 100%;
  border-radius: 0.25rem;
  opacity: 0.95;
  transition: opacity 0.5s;
}

div:hover img {
  opacity: 1;
}

article {
  border-top: 1px solid transparent;
}

article h2 {
  color: rgb(20, 20, 20);
  border-left: 2px solid gray;
  margin: 0.2rem 0 0 0;
  padding: 0.5rem;
  font-size: 1.7rem;
}

article p {
  color: rgb(30, 30, 30);
  padding: 0.5rem;
  margin-top: 0;
  border-left: 2px solid transparent;
  font-size: 1.2rem;
  line-height: 150%;
}

article a:visited {
  color: rgb(50, 50, 50);
}

article a:hover {
  color: #04aa6d;
  text-decoration: none;
}

article:hover {
  background-color: rgb(219, 230, 240);
  transition: background-color 0.5s;
  border-left: 2px solid gray;
  border-radius: 0.25rem;
}

article:hover h2 {
  border-left: none;
}

article:hover p {
  border-left: none;
}

article:hover * {
  color: black;
}

footer {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgb(80, 80, 80);
  padding: 16px;
}

p.icons8 {
  margin: 0;
  color: rgb(200, 200, 200);
}

p.icons8 a {
  color: inherit;
  text-decoration: none;
}
